<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="main/tabs/add-new-user"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate class="form"> 
    <div class="form-item">
      <ion-label>Password</ion-label>
      <div [ngClass]="submitted && errorCtr.oldPassword.errors?.required || submitted && errorCtr.oldPassword.errors?.pattern? 'input-border-error' : 'input-border'" class="password-row">
        <ion-input [type]="oldPasswordShow? 'text' : 'password'" formControlName="oldPassword"></ion-input>
        <ion-icon [name]="!oldPasswordShow ? 'eye-off-outline' : 'eye-outline'" (click)="showPass(oldPasswordShow, 'oldPassword')"></ion-icon>
      </div>
    </div>
    <span class="error" *ngIf="submitted && (errorCtr.oldPassword.errors?.required || errorCtr.oldPassword.errors?.pattern)">
      {{ errorCtr.oldPassword.errors?.required ? 'Old Password is required.' : 'Old Password is aleast 6 digit.'}}
    </span>

    <div class="form-item">
      <ion-label>Password</ion-label>
      <div [ngClass]="submitted && errorCtr.password.errors?.required || submitted && errorCtr.password.errors?.pattern? 'input-border-error' : 'input-border'" class="password-row">
        <ion-input [type]="pwdShow? 'text' : 'password'" formControlName="password"></ion-input>
        <ion-icon [name]="!pwdShow ? 'eye-off-outline' : 'eye-outline'" (click)="showPass(pwdShow, 'password')"></ion-icon>
      </div>
    </div>
    <span class="error" *ngIf="submitted && (errorCtr.password.errors?.required || errorCtr.password.errors?.pattern)">
      {{ errorCtr.password.errors?.required ? 'Password is required.' : 'Password is aleast 6 digit.'}}
    </span>
  
    <div class="form-item">
      <ion-label>Confirm Password</ion-label>
      <div [ngClass]="submitted && errorCtr.confirmPwd.errors?.required || submitted && errorCtr.confirmPwd.errors?.pattern? 'input-border-error' : 'input-border'" class="password-row">
        <ion-input [type]="confirmPwdShow? 'text' : 'password'" formControlName="confirmPwd"></ion-input>
        <ion-icon [name]="!confirmPwdShow ? 'eye-off-outline' : 'eye-outline'" (click)="showPass(confirmPwdShow, 'confirmPassword')"></ion-icon>
      </div>
    </div>
    <span class="error" *ngIf="submitted && (errorCtr.confirmPwd.errors?.required || errorCtr.confirmPwd.errors?.pattern)">
      {{ errorCtr.confirmPwd.errors?.required ? 'Confirm password is required.' : 'Confirm password is aleast 6 digit.'}}
    </span>
    <span class="error" *ngIf="submitted && !matchingPasswords()">
      Passwords do not match.
    </span>

    <ion-row class="btn-row">
      <ion-col class="left">
        <ion-button type="submit" >Confirm</ion-button>
      </ion-col>
      <ion-col class="right">
        <ion-button  (click) = "clear()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
